<%= form_tag('/songs/search', :method => :get) do %>
  <%= text_field_tag "qstr_title", nil, placeholder: "search song title" %>
  <%= text_field_tag "qstr_artist", nil, placeholder: "search song artist" %>
  <%= text_field_tag "qstr_album", nil, placeholder: "search song album" %>
  <%= submit_tag %>
<% end %>

<% unless @res.blank? %>
  <p><%= @res.count %> results found:</p>
  <% @res.each do |res| %>
    <%= res.title %>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>