<!DOCTYPE html>
<html>
<head>
  <title>Mp3App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "List", songs_path %> / <%= link_to "Add Song", new_song_path %>

<%= yield %>

</body>
</html>
